{% extends "base.html" %}
{% block content %}

<h1 class="row justify-content-md-center">Add movie screening</h1>
<h5 class="row justify-content-md-center">NOTE: Should be hidden from users and only
avaliable for staff with the correct privellige level.</h5>

<form action="" method="post" name="addScreeningForm">
    {{ addScreeningForm.csrf_token() }}
    {{ addScreeningForm.hidden_tag() }}

    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <div class="form-group">

          <label style="padding-right: 10%">Screen: </label>
          {{ addScreeningForm.screen }}
          {% for error in addScreeningForm.screen.errors %}
          [{{ error }}]
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <div class="form-group">

          <label style="padding-right: 10%">Start: </label>
          {{ addScreeningForm.startTime }}
          {% for error in addScreeningForm.startTime.errors %}
          [{{ error }}]
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
          <input type="submit" class="btn btn-primary" value="Add Screening">
        </div>
      </div>
  </form>

{% endblock %}
