  {% extends "base.html" %}
 {% block content %}
<div class="container-fluid">
  <br><br>
  <h1 class="row justify-content-md-center">Add a new movie</h1>
  <div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
    {{ enterMovie.csrf_token() }}
    {{ enterMovie.hidden_tag() }}
        <div class="form-group">
            <label for="taskNameInput">{{enterMovie.movietitle.label}}</label><br>
        {{enterMovie.movietitle}}
        {% for error in enterMovie.movietitle.errors %}
            </br><span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        </div>
        <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
  </div>
  <br />
  <div class="row justify-content-center">
  {% if fetchedMovieCheck == 1 %}
    <div class="row">
      <div class="col-sm">
        <img width = "200px" src="{{fetchedMovie['PosterURL']}}" />
      </div>
      <div class="col-sm">
        <p><b>Title:</b> {{fetchedMovie['Title']}}</p>
        <p><b>IMDB Rating:</b> {{fetchedMovie['Rating']}}</p>
        <!-- <p>{{fetchedMovie['Description']}}</p> -->
        <p><b>Age:</b> {{fetchedMovie['Age_Rating']}}</p>
        <p><b>Duration:</b> {{fetchedMovie['Duration']}} minutes</p>
        <form method="post" action="/">
          <button type="submit" class="btn btn-primary" value="confirm">confirm</button>
        </form>
      </div>
    </div>
  {% elif fetchedMovieCheck == 0 %}
    <h4>Movie not found</h4>
  {% endif %}
  </div>
  <br />
</div>
{% endblock %}
