<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{request.url_root}}/static/css/main-styles.css">
  <link rel="stylesheet" href="{{request.url_root}}/static/css/seats.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title> No title specified</title>
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>


<body onload='init()'>
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#23272B"
      },
      "button": {
        "background": "#d11717"
      }
    },
    "theme": "classic"
  });
  </script>
  <nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <a class="navbar-brand" href="/"><img src="{{request.url_root}}/static/icons/logo.png" width="175px" class="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/screenings">What's On <span class="sr-only"></span></a></li>
        {% if current_user.is_authenticated %}
        {% if current_user.Privilage <= 1 %}
        <div class="navbar-brand ml-auto">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle admin-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Screening Privilages
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/addMovieScreening">Add Movie Screening</a>
              <a class="dropdown-item" href="/addNewMovie">Add New Movie</a>
              <a class="dropdown-item" href="/#">Deactivate Movies</a>
            </div>
          </div>
        </div>
        <div class="navbar-brand ml-auto">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle admin-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Business Management Facilities
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/view-incomes">View Incomes</a>
              <a class="dropdown-item" href="/show-graphs">Show Graphs</a>
              <a class="dropdown-item" href="/compare-ticket-sales">Compare Sales</a>
              <a class="dropdown-item" href="/manage-staff">Manage Staff</a>
            </div>
          </div>
        </div>
          {% endif %}
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
          <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
          {% endif %}
      </ul>
      {% if current_user.is_authenticated %}
      <div class="navbar-brand ml-auto">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome {{ current_user.Email }}!
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/profile">My profile</a>
            <a class="dropdown-item" href="/view-bookings">My Bookings</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </div>

      {% endif %}

    </div>
  </nav>

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

<br>
      <div class="footer">

        <div class="container">
          <br />
          <div class="row">
            <div class="col-sm">
              <h3>Useful Links</h3>
              <p><a href="/basket">Returns Policy</a><br />
                <a href="/about">Our ethical Statement</a><br />
                <a href="/about">About us</a>
              </p>
            </div>
            <div class="col-sm">
              <h3>Find our store</h3>
              <p>66 King Sreet<br />
                Leeds<br />
                LS69 2YT</p>
            </div>
            <div class="col-sm">
              <h3>Download our app</h3>
              <p>Download the IOS or Android app<br />
                IOS: <a href="https://www.apple.com/uk/ios/app-store/">Get it here</a><br />
                Android: <a href="https://play.google.com/store">Get it here</a></p>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
      {% block below %}{% endblock %}

</body>

</html>
