{% extends "base.html" %}
{% block content %}
<div class="container">
    </br>
    <table class="table" id="order-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Seat</th>
                <th scope="col">Type</th>
                <th scope="col">Concession</th>
                <th scope="col">
                    <div style="text-align: center;">Price</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for seat in seats %}
            <tr>
                <th scope="col">{{seat}}</th>
                {% if seat in premium %}
                <td id="{{seat}}t" onload="addPremium();">Premium</td>
                {% else %}
                <td id="{{seat}}t" onload="addStandard();">Standard</td>
                {% endif %}
                <td>
                    <div class="input-group mb-3">
                        <select class="custom-select" onchange="updatePrice(id)" id="{{seat}}">
                            <option selected value="1">Standard</option>
                            {% if child %}
                            <option value="2">Child (up to 16)</option>
                            {% endif %}
                            <option value="3">Senior (65+)</option>
                        </select>
                    </div>
                </td>
                {% if seat in premium %}
                <td>
                    <div id="{{seat}}p" style="text-align: center;">{{PremiumGeneralPrice}}</div>
                </td>
                {% else %}
                <td>
                    <div id="{{seat}}p" style="text-align: center;">{{StandardGeneralPrice}}</div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div id="total" style="text-align: center;">Total: £</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: left;">
                        <button id="back" type="button-sm" class="btn btn-outline-dark btn-sm">Back</button>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div style="text-align: right;">
                        {% if current_user.Privilage < 2 %}
                        <button id="cashConfirm" type="button-sm" class="btn btn-warning btn-sm">Process Cash Payment</button>
                        <button id="confirm" type="button-sm" class="btn btn-info btn-sm">Process Card Payment</button>
                        {% else %}
                        <button id="confirm" type="button-sm" class="btn btn-dark btn-sm">Proceed to Payment</button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</div>
<script>
    var ss = {{ StandardGeneralPrice }};
    var sc = {{ StandardConcessionPrice }};
    var ps = {{ PremiumGeneralPrice }};
    var pc = {{ PremiumConcessionPrice }};

    updateTotal();
    
    document.getElementById("confirm").onclick = function () {
        var allSeats = window.location.pathname.split("/")[3];
        var seats = allSeats.split("$");
        var types = [];
        for (var i = 0; i < seats.length; i++) {
            types.push(document.getElementById(seats[i]).value);
        }
        location.href = "/payment/" + window.location.pathname.split("/")[2] + "/" + window.location.pathname.split("/")[3] + "/" + types.join("$");
    };

    document.getElementById("cashConfirm").onclick = function () {
        var allSeats = window.location.pathname.split("/")[3];
        var seats = allSeats.split("$");
        var types = [];
        for (var i = 0; i < seats.length; i++) {
            types.push(document.getElementById(seats[i]).value);
        }
        location.href = "/cashPayment/" + window.location.pathname.split("/")[2] + "/" + window.location.pathname.split("/")[3] + "/" + types.join("$");
    };

    document.getElementById("back").onclick = function () {
        location.href = "/seats/" + window.location.pathname.split("/")[2];

    }

    function updatePrice(id) {  //changes prices depending on select box option
        var x = document.getElementById(id).value;  
        if (document.getElementById(id + "t").innerText == "Premium") {
            if (x == 1 | x == 2) {
                document.getElementById(id + "p").innerText = ps;
            }
            else {
                document.getElementById(id + "p").innerText = pc;
            }
        }
        else {
            if (x == 1 | x == 2) {
                document.getElementById(id + "p").innerText = ss;
            }
            else {
                document.getElementById(id + "p").innerText = sc;
            }
        }
        updateTotal();
    }
    function updateTotal() {    //totals prices
        var table = document.getElementById("order-table"), sumVal = 0;

        for (var i = 1; i < table.rows.length - 2; i++) {
            sumVal = sumVal + parseFloat((table.rows[i].cells[3].innerHTML).split(">")[1].split("<")[0]);
        }

        document.getElementById("total").innerHTML = "Total: £" + sumVal;
        console.log(sumVal);
    }

</script>
{% endblock %}