{% extends "base.html" %}
{% block content %}
<br>
<p class="row justify-content-md-center">Logged in as: {{user}}</p>
<h1 class="row justify-content-md-center">Screenings</h1>
<h6 class="row justify-content-md-center">Date: {{date}}</h6>
<br />
<div class ="container">
  <div class="float-right">
    <form action="" method="post">
      <label for="birthday">Date:</label>
      <input type="date" id="birthday" name="screeningDateFilter">
      <button type="submit" class="btn btn-primary" name="Filter" value="Filter">Filter</button>
    </form>
  </div>
  <br />
  <br />
  <table class="table">
    <thead class="thead-dark">
      <!-- Headings -->
      <tr>
        <th scope="col">Movie</th>
        <th scope="col">Time</th>
        <th> </th>
      </tr>
    </thead>
  {% if dailyScreenings == 0 %}
    <tbody>
      <tr>
          <td>No Movies on show today</td>
      </tr>
    </tbody>
  {% else %}
  <!-- for loop through all the activities and create a new table row for each -->
  {% for i in range(0, allMovies|length) %}
  <tbody>
    {% set screenings = allMovies[i].getScreenings(date) %}
    {% if screenings|length >= 1 %}
    <tr>
      <td>
        <div class="row">
          <div class="col-sm" style="padding-right: 0px;">
            <img width = "130px" src="{{allMovies[i].PosterURL}}" />
          </div>
          <div class="col-sm" style="padding-left: 0px;"">
            <p><b>Name: </b>{{allMovies[i].Name}}</p>
            <p><b>Age Rating: </b>{{allMovies[i].Age}}</p>
            <p><b>Running Time: </b>{{allMovies[i].RunningTime}} mins</p>
          </div>
        </div>
      </td>
      <td>
      {% set screenings = allMovies[i].getScreenings(date) %}
      {% for screening in screenings %}
        <form action="" method="post">
          <input type="submit" class="btn btn-success" value="{{(screening.StartTimestamp|string)[11:16]}}">
          <br /><br />
          <input type="hidden" value={{screening.ScreeningID}} name="buy">
        </form>
      {% endfor %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
