{% extends "base.html" %}
 {% block content %}
  <div class="container-fluid">
    <br>
    <div class="row justify-content-center">
        <form action="" method="post" name="Add_item">
          {{ signupForm.csrf_token() }}
          {{ signupForm.hidden_tag() }}
            <div class="form-group">
                <label for="taskNameInput">{{signupForm.email.label}}</label><br>
            {{signupForm.email}}
            {% for error in signupForm.email.errors %}
                </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
            </div>
            <div class="form-group">
                <label for="taskDescriptionInput">{{signupForm.password.label}}</label><br>
                {{ signupForm.password }}
                {% for error in signupForm.password.errors %}
                </br><span style="color: red;">{{error}}</span>
                {% endfor %}<br>
            </div>
            <div class="form-group">
                <label for="taskDateInput">{{signupForm.passwordCheck.label}}</label><br>
                {{ signupForm.passwordCheck }}
                {% for error in signupForm.passwordCheck.errors %}
                </br><span style="color: red;">{{error}}</span>
                {% endfor %}<br>
                <small>Already have an account? <a href='/login'>Sign In</a></small>
            </div>
            
            <div class="row justify-content-center">
    
            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}